@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  font-family: "Noto Sans KR", sans-serif;
  padding: 30px;
}
h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
h4 {
  padding-top: 20px;
}
p {
  padding: 2rem;
  line-height: 180%;
}
p.alert {
  color: crimson;
}
ul {
  padding-left: 4rem;
  line-height: 180%;
}
ul.depth_1 {
  list-style-type: decimal;
}
ul.depth_2 {
  list-style-type: lower-alpha;
  padding-left: 2rem;
  font-size: 0.9rem;
}
li {
  margin-top: 2rem;
  line-height: 180%;
}
